Lab: there are columns that contain alphanumeric values 7. just comment what i think

Contain some of the same and what are important parts.
Can they be combined, so that we have less values. just like we did with gender in the lesson?

#### 1. Import libraries and get dataframe

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [5]:
customer_df.columns = [colname.lower().replace(' ','_') for colname in customer_df.columns]
customer_df.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [6]:
customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'])

#### 2. Find all categorical variables

In [9]:
categorical_df = customer_df.select_dtypes(include = 'object')
categorical_df

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

#### 3. Check for NaN values

In [10]:
categorical_df.isna().sum()

customer            0
state               0
response            0
coverage            0
education           0
employmentstatus    0
gender              0
location_code       0
marital_status      0
policy_type         0
policy              0
renew_offer_type    0
sales_channel       0
vehicle_class       0
vehicle_size        0
dtype: int64

#### 4. Check all unique values

In [19]:
categorical_df.nunique()

state               5
response            2
coverage            3
education           5
employmentstatus    5
gender              2
location_code       3
marital_status      3
policy_type         3
policy              9
renew_offer_type    4
sales_channel       4
vehicle_class       6
vehicle_size        3
dtype: int64

#### 5. Check dtypes. Do the numbers make sense to you?

In [13]:
categorical_df.dtypes

customer            object
state               object
response            object
coverage            object
education           object
employmentstatus    object
gender              object
location_code       object
marital_status      object
policy_type         object
policy              object
renew_offer_type    object
sales_channel       object
vehicle_class       object
vehicle_size        object
dtype: object

In [14]:
# Feature 'customer' should not be an object
categorical_df = categorical_df.drop(['customer'], axis = 1)

#### 6. Does any column contain alpha and numeric data?

In [22]:
categorical_df['policy'].value_counts()

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64

In [23]:
categorical_df['renew_offer_type'].value_counts()

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: renew_offer_type, dtype: int64

In [ ]:
# Consider cleaning policy feature

#### 7.8.  - What to do with the variables policy and policy_type?
If we assume that for policy the L always stand for the same value than we can get rid of the classification into personal, corporate & special as they are classified in the policy_type column.

In [32]:
for col in categorical_df:
    print(categorical_df[col].value_counts())

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64
No     7826
Yes    1308
Name: response, dtype: int64
Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64
Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64
Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64
F    4658
M    4476
Name: gender, dtype: int64
Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64
Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64
Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64
Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64
Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: renew_offer_type, dtype: int64
Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64
Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64
Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

In [ ]:
# Understand what the specific values for 'policy' and 'renew_offer_type' mean and then we could merge them. But for now I don't see the need of cleaning them

In [38]:
# Then this would be our cleaned column
categorical_df['policy']=categorical_df['policy'].str.replace(".*(?=L)","")
categorical_df['policy']

/var/folders/15/hgt62pt91txfslsjk64n8zd40000gp/T/ipykernel_50923/3080232959.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  categorical_df['policy']=categorical_df['policy'].str.replace(".*(?=L)","")

0       L3
1       L3
2       L3
3       L2
4       L1
        ..
9129    L1
9130    L3
9131    L2
9132    L2
9133    L3
Name: policy, Length: 9134, dtype: object

#### 9. 
employmentstatus = other
vehicle_class = premium (Sports Car, Luxury, Luxury Car)
marital_status = Not_married
education = Academic, non academic (high school or below)
policy = L1, L2, L3

In [40]:
def cleanemploymentstatus(x):
    if 'Employed' in x:
        return "Employed"
    elif 'Unemployed' in x:
        return "Unemployed"
    else:
        return 'Other'
    
categorical_df['employmentstatus'] = categorical_df['employmentstatus'].apply(cleanemploymentstatus)

In [41]:
def clean_vehicleclass(x):
    if 'Four-Door Car' in x:
        return "Four-Door Car"
    elif 'Two-Door Car' in x:
        return "Two-Door Car"
    elif 'SUV' in x:
        return "SUV"
    else:
        return 'Premium'
    
categorical_df['vehicle_class'] = categorical_df['vehicle_class'].apply(clean_vehicleclass)

In [43]:
def clean_maritalstatus(x):
    if 'Married' in x:
        return "Married"
    else:
        return 'Not Married'
    
categorical_df['marital_status'] = categorical_df['marital_status'].apply(clean_maritalstatus)

In [44]:
def clean_education(x):
    if 'High School or Below' in x:
        return "Non-academic"
    else:
        return 'Academic'
    
categorical_df['education'] = categorical_df['education'].apply(clean_education)

In [47]:
categorical_df.nunique()

state               5
response            2
coverage            3
education           2
employmentstatus    3
gender              2
location_code       3
marital_status      2
policy_type         3
policy              3
renew_offer_type    4
sales_channel       4
vehicle_class       4
vehicle_size        3
dtype: int64

In [ ]:
# Could think about merging state further